.clients-list {
	margin-top: 20px;
	.no-client {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 200px;
		img {
			width: 100px;
		}

		.text {
			margin-top: 10px;
			font-size: 20px;
		}
	}
}
