.client-details {
	.avatar {
		margin-bottom: 10px;
		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 2px solid #d7d7d7;
		}
	}

	.thin-text {
		font-weight: 300;
	}

	.info {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
		.info-icon {
			margin-right: 5px;
			color: #007bff;
			font-size: 12px;
			background: #cce5ff;
			width: 25px;
			height: 25px;
			text-align: center;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}
	}
}
