.client-details {
	.communication-wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		.right {
			display: flex;
			flex-grow: 0.15;
			justify-content: space-between;
		}
		.communication-btn {
			color: #555;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-decoration: none;
			align-items: center;
			font-weight: 900;

			&.disabled {
				color: #aeaeae;
				cursor: not-allowed;
				pointer-events: none;
			}

			.text {
				font-size: 16px;
			}
			.icon {
				font-size: 15px;
				width: 40px;
				height: 40px;
				background: #e9ecef;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
			}

			&.readonly {
				border-right: 1px solid #aeaeae;
				font-weight: 500 !important;
				padding-right: 30px;
				.icon {
					background: transparent;
				}
			}
		}
	}

	.avatar {
		margin-bottom: 10px;
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 2px solid #d7d7d7;
		}
	}

	.thin-text {
		font-weight: 300;
	}

	.info {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 20px;
		.info-icon {
			margin-right: 5px;
			color: #007bff;
			font-size: 12px;
			background: #cce5ff;
			width: 25px;
			height: 25px;
			text-align: center;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}
	}
}
