.transactor-application {
	margin-bottom: 80px;
	.preset {
		// padding: 0 30px;
		position: relative;

		// .page-container {
		// 	height: 100vh;
		// }
	}

	.back-btn {
		background: transparent;
		border: none;
		outline: 0;
	}
}
